# Configuración de la Aplicación
APP_NAME="Analizer PC"
APP_ENV=local

# Proveedor de Embeddings (gemini | ollama)
EMBEDDING_PROVIDER=ollama

# Configuración Gemini (Requerido si EMBEDDING_PROVIDER=gemini)
GEMINI_API_KEY=tu_clave_aqui

# Origen de Datos (local | github)
DATA_SOURCE=github

# Configuración de Base de Datos
DB_HOST=db
DB_NAME=ai_db
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432
